GH_REPOSITORY_OWNER=s-kuhn
IMAGE_TAG=dev
PROST_VERSION=0.0.20

PROST_PUBLIC_URL=http://localhost:4200
KEYCLOAK_PUBLIC_URL=http://localhost:8081
KEYCLOAK_INTERNAL_URL=http://localhost:8081
BACKEND_INTERNAL_URL=http://host.docker.internal:8080
PROST_API_URL=http://localhost:8080/prost/api

POSTGRES_USER=prost
POSTGRES_PASSWORD=secret
POSTGRES_DB=prost

KEYCLOAK_REALM=prost
KEYCLOAK_BACKEND_CLIENT_ID=prost-rest-api
KEYCLOAK_BACKEND_CLIENT_SECRET=secret
KEYCLOAK_FRONTEND_CLIENT_ID=prost-frontend

# Keycloak
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=secret
KEYCLOAK_EVENT_LISTENER_SECRET=secret
