<div class="section">
  <header>
    <h1>Welcome to the PROST App!</h1>
    <p class="description">This is the public homepage.</p>
    <a [routerLink]="['/']">
      <img class="brand-logo" src="assets/header.png" alt="logo" aria-hidden="true"/>
    </a>
  </header>

  <main>
    <section>
      <p> {{ url }}</p>
      <p class="description">To access the application, use the following credentials for testing:</p>
      <ul class="credentials">
        <li>
          <strong>User:</strong> <code>johndoe</code>
          <button class="copy-btn" (click)="copyToClipboard('johndoe')" aria-label="Copy User">
            <i class="copy-icon">📋</i>
          </button>
        </li>
        <li>
          <strong>Password:</strong> <code>qwerty&#64;123</code>
          <button class="copy-btn" (click)="copyToClipboard('qwerty@123')" aria-label="Copy Password">
            <i class="copy-icon">📋</i>
          </button>
        </li>
      </ul>
    </section>
    @if (copyMessage$ | async; as copyMessage) {
      <div class="message-box">
        {{ copyMessage }}
      </div>
    }
  </main>
</div>
